<rbconfig>

    <global>
      <log path="log/rbf.log" level="0"/>
    </global>

    <layouts>
      <layout name="A" description="Desc A" file="layout/a.xml"/>
      <layout name="B" description="Desc B" file="layout/b.xml"/>
      <layout name="C" description="Desc C" file="layout/c.xml"/>
      <layout name="world" description="World data" file="test/world_data.xml"/>
    </layouts>

    <outputs>
  		<output name="txt"   outputDir="/tmp/" fsep="*" fdesc="false" orientation="horizontal"/>
  		<output name="html"  outputDir="." fdesc="false" orientation="horizontal"/>
  		<output name="csv"   outputDir="." fsep=","/>
  		<output name="xlsx"  outputDir="." zipper="/usr/bin/zip"/>
  		<output name="tag"   outputDir="." fsep=" "/>
  		<output name="ident" outputDir="."/>
    </outputs>

</rbconfig>
